:root{
    --color-P: #f1dec5c0;
    --color-S: #252323;
    --color-A: #cca94a;
}

.bg-P{
    background-color: var(--color-P);
}

.bg-S{
    background-color: var(--color-S);
}

.bg-A{
    background-color: var(--color-A);
}

.color-P{
    color: var(--color-P);
}

.color-S{
    color: var(--color-S);
}

.color-A{
    color: var(--color-A);
}

/* .img-custom{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0)) , url(/storage/app/public/img/AdobeStock_194408391.jpg);
    background-size: cover;
    background-position:center;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
}

/* Inizio Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0px 30px;
    background: rgba(255, 255, 255, .1);
    display:flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.425);
    z-index: 9;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;;
}
.header:hover::before {
    left: 100%;
}

  
a{
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #fe9221;
}

.category-cust{
    list-style-type: none;
    color: #000000;
    /* font-size: 18px; */
    /* margin-left: 50px; */
    margin-top: 10px;
    text-decoration: none;
    transition: .3s;
}

.nav_custom{
  display: flex;
  align-items:center;
}
/* .nav_custom a{
  width: 100%;
} */
.logo{
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-right: 300px;
  float: inline-start;
  padding: 0;
}


.nav_custom li{
    justify-content: center;
    list-style-type: none;
    color: #000000;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
    transition: .3s;
}

.nav_custom li a:hover {
    color: #fe9221;
}
#usercustom a{
    color: #000000;
    font-weight: 600;
}
.searchbar-cust{
    margin-left: 50px;
    width: 420px;
    color: #2e2e2e;
    border-radius: 40px;
    padding: 20px;;
    outline: none;
}

.searchbar-cust input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #2e2e2e;
  border-radius: 40px;
  font-size: 16px;
  padding: 12px 40px 12px 20px;
}

/* FINE EDIT NAVABAR */

/* INIZIO VIEWS WELCOME */
    .img-sfondo{
        max-height: 100%;
        background-size: cover;
        background-repeat: none;
      
    }
      .row_welcome{
        transform: translate(0, -10%);
      }

    .welcome-title h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -750%);
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
        color: white;
        text-align: center;
        text-shadow: 0 0 10px #000000;
    }

    .pag_custom{
      color: #fe9221;
    }

     .subtitle{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        font-size: 2.5rem;
        font-weight: 600;
        border-bottom: 2px solid #fe9221;
    }

    .welcome-title span{
      color: #fe9221;
    }

      /* Classi Specifiche e Generiche */
    .card-custom{
            backdrop-filter: blur(5px);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.452);
            border-radius: 10px;
            height: 100%;
            opacity: 1;
            background:#ffffff59;
          }

          .btn_color{
            color: #fe9221;
          }

          .btn-category{
            margin-left: 110px;
            margin-top: 40px;
            margin-bottom: 40px;
          }
          /* Form di Login */
          .login_register{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          body{
            background: url(/public/Bodysfondo.jpg);
          }


          .wrapp{
            width: 420px;
            color: #2e2e2e;
            border: 5px solid #fe9221;
            border-radius: 40px;
            backdrop-filter: blur(20px);
            padding: 20px;
            outline: none;
          }
          .wrapp h1{
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            color: #3f3f3f;
          }
          .wrapp .form-label{
            width: 100%;
            height: 15px;
          }

          .wrapp input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid #fe9221;
            border-radius: 40px;
            font-size: 16px;
            padding: 20px 40px 20px 20px;
          }
           
          input::placeholder{
            color: #2e2e2e;
            
          }
          
          input:hover::placeholder{
            color: #2e2e2e;
          }

          input:hover{
            color: #2e2e2e;
            background-color: rgb(226, 226, 226);
          }


          /* .wrapp .remember-forgot{
            display: flex;
            font-size: 14.5px;
            margin: -15px 0 15px;
          }
          .remember-forgot label input{
            margin-right: 3px;
          }
          .remember-forgot a{
            text-decoration: none;
          }
          .remember-forgot a:hover{
            text-decoration: underline;
          } */

          .wrapp .btn_custom{
            width: 100%;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
          }



          /* FOOTER */
          .cont_foot{
            height: 100%;
            max-width: 1170px;
            margin:auto;
            
            
          }
          .row_foot{
            display: flex;
            flex-wrap: wrap;
          }
          ul{
            list-style: none;
          }
          .footer{
            
            background-color: #24262b;
              padding: 70px 0 0 0;
              margin:20% 0 0 0 ;
              /* position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          */
          }
          .footer-col{
             width: 25%;
             padding: 0 15px;
          }
          .footer-col h4{
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
          }
          .footer-col h4::before{
            content: '';
            position: absolute;
            left:0;
            bottom: -10px;
            background-color: #fe9221;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
          }
          .footer-col ul li:not(:last-child){
            margin-bottom: 10px;
          }
          .footer-col ul li a{
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
          }
          .footer-col ul li a:hover{
            color: #ffffff;
            padding-left: 8px;
          }
          .footer-col .social-links a{
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255,255,255,0.2);
            margin:0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
          }
          .footer-col .social-links a:hover{
            color: #24262b;
            background-color: #ffffff;
          }

         

           /* correzioni al volo login / register / index */
           .margine_cust{
            margin-top: 10%;
          }



          .alert_custom{
            position: absolute;
            margin-top: 7%;
          }

          .sfondo{
            background: url(/public/img/1350456.jpg);
            background-size: cover;
            background-repeat: no-repeat;
          }

          /* MEDIA QUERY x francesco */
      /* @media screen and (max-width: 1366px){ 
        .nav_custom a {
          width: 20%;
        }

        .nav_custom img{
          width: 50%;
        } */
      /* } */
          /* .img-preview{
            height: 50vh;
            width: 50vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
          } */

           /*responsive*/
           @media screen and (max-width: 767px){
            
      .img-sfondo{
        display: none;
        height: 100%;
        width: 100%;
        background-size: none;
        background-repeat: none;
      
    }
      .row_welcome{
        transform: translate(0, 0%);
      }

    .welcome-title h1{
      display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
        color: white;
        text-align: center;
        text-shadow: 0 0 10px #000000;
    }
            .header {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: 80px;
              background: rgb(255, 255, 255);
              /* display:flex; */
              justify-content: center;
              backdrop-filter: blur(0px);
              border-bottom: 3px solid rgba(31, 31, 31, 0.712);
              z-index: 9;
          }

          .category-cust{
            list-style-type: none;
            color: #000000;
            /* font-size: 18px; */
            /* margin-left: 50px; */
            margin-top: 10px;
            text-decoration: none;
            transition: .3s;
        }
          
          .logo{
            width: 80px;
            height: 80px;
            margin-top: 15px;
            margin-right: 0px;
            /* float: inline-start; */
            padding: 0;
          }

          .nav_custom li{
            justify-content: center;
            list-style-type: none;
            color: #000000;
            /* font-size: 18px; */
            /* margin-left: 50px; */
            /* margin-top: 10px; */
            text-decoration: none;
            transition: .3s;
        }
        
        .searchbar-cust{
            /* margin-left: 50px; */
            /* width: 420px; */
            color: #000000;
            border-radius: 40px;
            /* padding: 20px;; */
            outline: none;
        }
        
        .searchbar-cust input{
          /* width: 100%; */
          /* height: 100%; */
          background: transparent;
          border: none;
          outline: none;
          border: 2px solid #2e2e2e;
          border-radius: 40px;
          font-size: 16px;
          padding: 12px 40px 12px 20px;
        }

        /* FORM */
        /* pagina creazione annunci */
        .create_custom{
          width: 100%;
          margin-top: 120px;
        }

        

        .login_register{
          height: 90%;
          width: 100%;
          margin-top: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          /* FOOTER */
            .footer-col{
              width: 50%;
              margin-bottom: 30px;
          }
          }
          /* @media(max-width: 500px){ */
            /* .nav_custom a{
              width: 100%;
              
            }
            .nav_custom img{
              width: 10%;
              margin-left: 100px;
            }

            .nav-item{
              width: 100%;
            } */

            /* .footer-col{
              width: 100%;
          }
          } */
